<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Comprador</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Endereço</th>
      <th scope="col">Fornecedor</th>
    </tr>
  </thead>
  <tbody>
   <%# <% @shopping.each do |purchase| %>
   <%#    <tr>
   <%#      <td><%= purchase.comprador %></td>
   <%#      <td><%= purchase.descricao %></td>
   <%#      <td><%= purchases.preco %></td>
   <%#      <td><%= purchases.quantidade %></td>
   <%#      <td><%= purchase.endereco %></td>
   <%#      <td><%= purchase.fornecedor %></td>
   <%#    </tr>
   <%#  <% end %>
  </tbody>
</table>
